<div class="left-container">
  <h1><%= @cocktail.name.upcase %></h1>
  <h3>ABOUT THE <%= @cocktail.name.upcase %> COCKTAIL</h3>
  <p><%= @cocktail.about %></p>
  <h3>HOW TO MAKE THE <%= @cocktail.name.upcase %> COCKTAIL</h3>
  <%= @cocktail.instructions %>
  <hr>
  <div>
    <%= render 'reviews/new' %>
  </div>
  <div>
    <% if @cocktail.reviews.any? %>
        <%= render partial: 'reviews/review', collection: @cocktail.reviews %>
    <% end %>
  </div>
</div>
<div class="right-container">
  <div class="img-responsive">
    <%= image_tag @cocktail.photo, class: "img-responsive" %>
  </div>
  <% if @cocktail.doses.any? %>
    <%= render 'ingredients' %>
  <% end %>
  <strong>Add Ingredient:</strong>
  <%= render 'doses/new' %>
</div>






